<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2 class="glow">Leaderboard</h2>

    <table border="1" style="margin:auto;">
        <tr><th>User</th><th>Best Score</th></tr>
        {% for row in data %}
        <tr>
            <td>{{ row['username'] }}</td>
            <td>{{ row['best_score'] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="{{ url_for('home') }}">Back</a>
</div>

</body>
</html>
